
@model Post

@{
    ViewData["Title"] = Model.Title;
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="text-end my-2">
    <a class="btn btn-outline-info btn-sm" asp-action="Edit">Edit Post</a>
    <a class="btn btn-outline-danger btn-sm mx-2" asp-action="Delete">Delete Post </a>
</div>

<div class="content-wrapper">
    <h1>@Model.Title</h1>
    <p><span class="badge bg-info">By:</span> @Model.Author | <span class="badge bg-info">Published on</span> @Model.PublishedDate.ToString("MMM dd, yyyy")</p>
    <p><span class="badge bg-primary disabled">Category</span> @Model.Category.Name </p>
    <img src="@Model.FeatureImagePath" alt="@Model.Title" class="feature-image"  />
    <hr style="border-color: black;">
    <div>@Html.Raw(Model.Content)</div>
    <hr class="visible-hr"/>
    @if (Model.Comments.Any())
    {
        @foreach (var comments in Model.Comments)
        {
            <div class="card mb-3" shadow-sm>
                <div class="card-title">
                    <div class="card-body">
                                <h5 class="card-title">@comments.UserName</h5>
                                    <p class="card-text text-muted">@comments.CommentDate.ToString("MMM dd, yyyy")</p>
                                    <p class="card-text">@comments.Content</p>
                    </div>
							


                </div>

            </div>
        }
    }
    else
    {
        <p class="text-muted"> No Comments Yet. Be the first to comment</p>
    }

    <hr />
    <h4>Add a Comment</h4>
    <form itemid="commentForm">
        <div class="form-group">
			<label for="Username" class="fw-bold">Username</label>
			<input id="Username" type="text" name="Username" class="form-control" required />
			@* <span asp-validation-for="Comment.UserName" class="text-danger"></span> *@
        </div>
         <div class="form-group mt-2">
            <label for="Content" class="fw-bold">Content</label>
            <textarea id="Content" itemid="Content" name="Content" rows="3" class="form-control" required ></textarea>
            @* <span asp-validation-for="Comment.UserName" class="text-danger"></span> *@
        </div>
        <button type="submit" class="btn btn-outline-info mt-3">Submit Comment</button>
    </form>
</div>

@section Scripts {
					<script>
                        $(document).ready(function(){
                            $("#commentForm").on('submit', funtion(event){
                                event.preventDefault();
                                var userName=$("#Username").val();
                                var content=$("#Content").val();
									var postId = @Model.Id;
                            });
                        });
                    </script>
            }